*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: white;
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  background-color: whitesmoke;
  
  /* margin-top: 20vh; */
}
.App{
   margin: 0 auto;
   margin-top: 5vh;
  width: 90vw;
  display: flex;
  flex-direction: column; 
}
